{% extends 'main.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white text-center py-3">
                <h4 class="mb-0">Create an account</h4>
            </div>

            <div class="card-body p-4">
                {% if messages %}
                <div style="background-color: #ffe6e6; color: #cc0000; padding: 10px; border-radius: 5px; margin-bottom: 15px;">
                    {% for message in messages %}
                        <p style="margin: 5px 0;">{{message}}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-success w-100 fw-bold mt-3">Register an account</button>
                </form>

                <div class="text-center mt-4">
                    <small class="text-muted">Already have an account 
                        <a href="{% url 'login' %}">Sign in</a>
                    </small>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}